
.custom-main {
    display: flex; 
    justify-content: center; 
    min-height: 100vh; 
    width: 100%; 
    margin: auto; 
    margin-top: -20px;
  }
  
  .custom-h2{
      text-align: center;
      background-color: rgb(123, 0, 232); 
      color: white;
      padding: 12px;
      font-size: 17px;
      width: 640px;
  }
  
  .custom-form-container {
    display: flex;
    justify-content: center;  
    margin-top: 34px; 
  }
  
  .custom-input:focus {
    outline: none; 
    box-shadow: 0 0 3px 2px rgb(123, 0, 232);
    border-color: rgb(123, 0, 232);
  }
  
  .form-signin {
    padding: 1rem;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
    
  }
  
  .form-control {
    width: 300px;   
    font-size: 16px; 
    
  }
  
  .logo-image {
    width: 100px;             
    height: 100px;               
    display: block;           
    margin-left: auto;        
    margin-right: auto;        
  }
  
  .custom-font {
    font-family: 'Raleway', sans-serif;
  }
  
  .custom-dropdown-container {
    display: flex;
    justify-content: center;  
    margin-top: 40px;
  }
  
  .custom-dropdown-btn {
    background-color: rgb(123, 0, 232); 
  }
  
  .dropdown-item:active, 
  .dropdown-item:focus {
    background-color: rgb(123, 0, 232); 
  }
  
  
  .custom-btn-container {
    display: flex;
    justify-content: center;  
  }
  
  .custom-btn {
    width: 300px; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    margin-top: 40px;
    background-color: rgb(123, 0, 232); 
    color: white; 
    border: none; 
    border-radius: 5px; 
  }
  
  .custom-spinner {
    border-top-color: rgb(123, 0, 232);
    border-right-color: rgb(123, 0, 232);
    border-left-color: rgb(123, 0, 232);
  }