<div *ngIf="dataAdd == false" class="d-flex justify-content-center align-items-center">
    <div class="spinner-border custom-spinner" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="container">
    <main class="form-signin custom-main">
        <form [formGroup]="orderForm">
        <h2 class="custom-h2">Order</h2>

        
        <div class="custom-form-container">
          <div class="form-floating">
              <select
                  formControlName="productId"
                  class="form-control custom-input"
                  id="product" 
                  placeholder="Product"
              >
                  <option value=0>Select Product</option>
                  <option *ngFor="let product of products" [value]="product.id">
                      {{ product.productName }}
                  </option>
              </select>
              <label for="product">Product</label>
          </div>
      </div>
      

        <div class="custom-dropdown-container">
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle custom-dropdown-btn" type="button" id="quantityDropdown" 
                      data-bs-toggle="dropdown" aria-expanded="false">
                  {{ selectedQuantity > 0 ? selectedQuantity : 'Quantity' }}
              </button>
              <ul class="dropdown-menu" aria-labelledby="quantityDropdown">
                  <li *ngFor="let quantity of quantityOptions">
                      <a class="dropdown-item" (click)="selectQuantity(quantity)">{{ quantity }}</a>
                  </li>
                  <li><a class="dropdown-item text-muted" (click)="selectQuantity(0)">Clear</a></li> 
              </ul>
          </div>
        </div>
      

      
        <div class="custom-btn-container">
            <button class="btn custom-btn" type="submit" (click)="createOrder()" >Order</button>
        </div>
       
        </form>
    </main>

</div>



