table {
    width: 100%;
    table-layout: fixed; 
}

.table tbody {
  background-color: #f8f9fa !important; /* Gövde arka planı için açık renk */
}

th , td{
  color: black;
} 

.table td, .table th {
  background-color: #ffffff; /* Normal hücre rengi */
}

.custom-table th, .custom-table td {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  padding: 12px;
  text-align: center;
  font-size: 14px;
}

th:nth-child(4), td:nth-child(4),th:nth-child(5), td:nth-child(5),th:nth-child(6), td:nth-child(6)  { 
  width: 130px;
}


.custom-table thead th {
  background-color: rgb(123, 0, 232) !important;
  color: white;
}

.table tbody tr:hover, 
.table tbody tr:hover {
  background-color: rgba(254, 254, 254, 0.934) !important;
  transform: scale(1.05); 
  transition: transform 0.3s ease-in-out; 
}

.custom-search-bar-container{
  margin-bottom: 20px;
}

.custom-input {
  height: 44px; 
  font-size: 15px; 
  padding: 10px; 
}


.custom-input:focus {
  outline: none; 
  box-shadow: 0 0 3px 2px rgb(123, 0, 232);
  border-color: rgb(123, 0, 232);
}

.custom-spinner {
  border-top-color: rgb(123, 0, 232);
  border-right-color: rgb(123, 0, 232);
  border-left-color: rgb(123, 0, 232);
}

.custom-td {
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
  max-width: 200px; 
}


.custom-icon-success {
  color: #0bdb3c;
  font-size: 9px;
}

.custom-icon-danger {
  color: #ff0c24;
  font-size: 9px;
}

.custom-icon-circle {
  color: black;
  font-size: 9px;
}

.custom-icon-success,
.custom-icon-danger,
.custom-icon-check,
.custom-icon-xmark {
  vertical-align: middle; 
}




