
<main class="form-signin custom-main">
    <form [formGroup]="registerForm">

    <img class="logo-image" src="logo.png" alt="" width="100" height="100">   
    
    <div class="custom-form-container">
        <div class="form-floating">
            <input 
                formControlName="email"
                type="email" 
                class="form-control custom-input" 
                id="floatingInput" 
                placeholder="name@example.com"
            >
            <label for="floatingInput">Email</label>
        </div>
    </div>
   
    <div class="custom-form-container">
        <div class="form-floating">
            <input 
                formControlName="password"
                type="password" 
                class="form-control custom-input" 
                id="floatingPassword" 
                placeholder="Password"  
            >
            <label for="floatingPassword">Password</label>
        </div>
    </div>

    <div class="container-fluid mb-3">
        <div class="row g-3">
            <div class="col-md-6">
                <div class="custom-form-container">
                    <div class="form-floating">
                        <input 
                            formControlName="firstName"
                            type="text" 
                            class="form-control custom-input" 
                            id="firstName" 
                            placeholder="First Name"  
                        >
                        <label for="firstName">First Name</label>
                    </div>
                </div>
                
            </div>

          
            <div class="col-md-6">
                <div class="custom-form-container">
                    <div class="form-floating">
                        <input 
                            formControlName="lastName"
                            type="text" 
                            class="form-control custom-input" 
                            id="lastName" 
                            placeholder="Last Name"  
                        >
                        <label for="lastName">Last Name</label>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
    

    <div class="custom-form-container">

        <div class="form-floating">
            <input 
                formControlName="phoneNumber"
                type="tel" 
                class="form-control custom-input" 
                id="phoneNumber" 
                placeholder="Phone Number"  
            >
            <label for="phoneNumber">Phone Number</label>
        </div>
    </div>

    <div class="custom-dropdown-container">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle custom-dropdown-btn" type="button" id="genderDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                {{ selectedGender || "Select Gender" }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="genderDropdown">
                <li><a class="dropdown-item"  (click)="selectGender('Male')">Male</a></li>
                <li><a class="dropdown-item"  (click)="selectGender('Female')">Female</a></li>
                <li><a class="dropdown-item" (click)="selectGender('Other')">Other</a></li>
                <li><a class="dropdown-item text-muted"  (click)="selectGender('')">Clear Selection</a></li> 
            </ul>
        </div>
    </div>

    <div class="custom-btn-container">
        <button class="btn custom-btn" type="submit" (click)="register()" >Sing up</button>
    </div>

    <div class="custom-btn-container">
        <button routerLink="/login" class="btn custom-btn" type="submit" >Login</button>
    </div>
   
   
    </form>
</main>