.custom-header{  
    align-items: center;
    justify-content: center;
}

.custom-btn {
    width: 25%; 
    background-color: rgb(66, 83, 206); 
    color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 13px;
  }
