<main>
    <div class="container">
        <header class="d-flex flex-wrap custom-header justify-content-md-between py-3 mb-4">
          <div class="col-md-3 mb-2 mb-md-0">
            <img class="logo-image" src="logo.png" alt="" width="90" height="90" (click)="goToHome()" >    
          </div>
          <div class="col-md-3 text-end">
            <button type="button" class="btn btn-primary custom-btn" (click)="logout()">Sign out</button>
          </div>
        </header>
      </div>
</main>




