/*main container*/

.container {
  display: flex;
  flex-direction: row;
  width: 100%;       
  max-width: none;   
  padding-left: 30px;   
  padding-right: 30px;  
  margin-left: 0;    
  margin-right: 0;   
}
  
  /*Spinner*/
  
.custom-spinner {
  border-top-color: rgb(66, 83, 206); 
  border-right-color: rgb(66, 83, 206); 
  border-left-color: rgb(66, 83, 206); 
}


  /*Chart*/

.chart-container {
  flex: 1;
  min-height: 490px; 
  padding: 20px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.summary-stats {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.total-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.summary-stats {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.stat-box {
  padding: 6px;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  min-width: 150px;
  text-align: center;
}

.stat-box.accept {
  background-color: #00ae06;
}

.stat-box.reject {
  background-color: #c90014;
}

.stat-box.not-decided {
  background-color: #a6a6a6;
}

.stat-box.total {
  background-color: rgb(66, 83, 206); 
}

/*Defect List*/

.order-defect-list-container {
  max-height: 490px; 
  overflow-y: auto;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 16px; 
  border-radius: 15px; 
}

.order-defect-list-container.no-items {
  display: flex;
  margin-top: 160px;   
  max-height: 490px;      
  border-radius: 8px;
  font-size: 16px;
  color: black;
  text-align: center;
}

.order-defect-list-container::-webkit-scrollbar {
  width: 8px;
}

.order-defect-list-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.order-defect-list-container::-webkit-scrollbar-thumb {
  background: rgb(66, 83, 206); 
  border-radius: 10px;
}

.order-defect-list-container::-webkit-scrollbar-thumb:hover {
  background: rgb(66, 83, 206); 
}

.defect-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 16px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.defect-card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.defect-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.order-number {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 13px;
}

.decision-tag {
  padding: 4px 12px;
  border-radius: 13px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 13px;
  text-transform: uppercase;
  color: white;
}

.decision-tag.accept {
  background-color: #00ae06;
}

.decision-tag.reject {
  background-color: #c90014;
}


.defect-body {
  font-size: 14px;
  color: #555;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.defect-body > div {
  margin-bottom: 8px; 
}

/* Quality Control Button*/

.custom-btn-container {
  display: flex;
  justify-content: center;  
}

.custom-btn {
  width: 170px;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(66, 83, 206); 
  color: white; 
  border: none; 
  border-radius: 5px; 
  font-size: 14px;
  font-weight: 500;
}


/*Final Desicion Buttons*/

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
  flex-wrap: wrap;
}

.desicion-btn {
  padding: 6px;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  min-width: 110px;
  text-align: center;
  background-color: rgb(66, 83, 206); 
  
}


/*Modals*/

.modal-content {
  padding-bottom: 20px; 
}

.modal-header, .modal-footer {
  border: none;
  position: relative; 
}

.custom-h4{
  text-align: center;
  color: black;
  padding: 12px;
  font-size: 19px;
}

.modal-body {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px; 
}

.modal-body .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-body .form-select,
.modal-body .form-control {
  width: 100%;
}

.btn-close {
  position: absolute;
  top: 20px; 
  right: 20px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px; 
}

