
/*main container*/

.container {
  display: flex;
  flex-direction: row;
  width: 100%;   
  height: 100;    
  max-width: none;   
  padding-left: 30px;   
  padding-right: 30px;  
  margin-left: 0;    
  margin-right: 0;   
  gap: 30px;
}



/*Spinner*/

.custom-spinner {
  border-top-color: rgb(66, 83, 206); 
  border-right-color: rgb(66, 83, 206); 
  border-left-color: rgb(66, 83, 206); 
}

/* Toaster */

.toast-container.toast-bottom-left .toast {
  width: 500px;
}

/*Defect Info*/

.defect-container {
  width: 40%; 
  flex-direction: column;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}

.defect-header-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color:rgb(66, 83, 206);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 3px;
}

.defect-header-container p {
  font-size: 16px;
  color: white;
  text-align: center;
  margin: 0; 
  padding: 5px; 
}

.defect-item-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 15px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 500px;
  align-items: center;
  justify-content: center;
}

.defect-item {
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s, background-color 0.3s;
  cursor: pointer;
  animation: fadeInUp 0.5s ease-out forwards;
  height: 70px;
}

.red-box {
  background-color: rgba(216, 0, 0, 0.756)
}
.orange-box {
  background-color: rgba(235, 102, 0, 0.878)
}
.yellow-box {
  background-color: rgba(235, 224, 0, 0.878)
}
.green-box {
  background-color: rgba(0, 211, 28, 0.878)
}

.defect-item:hover {
  transform: scale(1.07);
}



/*Order Defect*/

.order-defect-container {
  width: 75%; 
  flex-direction: row;
}

.no-order-defect-container {
  top: 0;
  left: 0;
  width: 75%; 
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  text-align: center;
  background-color: white; /* opsiyonel: arka plan varsa ayırmak için */
}

.order-defect-header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  background-color:rgb(66, 83, 206);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 3px;
}

.order-defect-header-container p {
  font-size: 16px;
  color: white;
  text-align: center;
  margin: 0; 
  padding: 5px; 
}

.order-defect-item-container {
  flex-direction: column;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; 
}

.scrollable {
  max-height: 510px;
  overflow-y: auto;
  padding-right: 8px; 
}


.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: rgb(66, 83, 206);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: rgb(66, 83, 206);
}

.list-group {
  display: flex;
  justify-content: space-between; 
  padding: 0;
  margin-bottom: 15px;
}
  
.list-group-item {
  flex: 1; 
  display: flex;
  justify-content: center; 
  align-items: center;    
  padding: 16px;
  font-size: 14px;
}

.list-group-item p {
  font-size: 15px;
  font-weight: 500;
  color: black;
  text-align: center;
  margin: 0; 
  padding: 5px; 
}



.header-item {
  font-weight: bold;
  background-color: #f1f1f1; 
}


/*image*/

.image-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-column img {
  max-width: 40px;
  max-height: 40px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 5px;
}

/*Accept Reject Button*/

.custom-accept-btn {
  background-color: rgb(66, 83, 206);
  color: white;
  border: none;
  
  font-size: 13px;
  border-radius: 5px;
}

.custom-reject-btn {
  background-color: rgba(216, 0, 0, 0.756);
  color: white;
  border: none;

  font-size: 13px;
  border-radius: 5px;
}

.custom-accept-btn:hover {
  background-color: white;
  color: black;
}

.custom-reject-btn:hover {
  background-color: white;
  color: black;
}



/*Modals*/

.modal-content {
  padding-bottom: 20px; 
}

.modal-header, .modal-footer {
  border: none;
  position: relative; 
}

.custom-h4{
  text-align: center;
  color: black;
  padding: 12px;
  font-size: 19px;
  margin-top: -10px;
}

.modal-body {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px; 
}

.modal-body .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.modal-body .form-select,
.modal-body .form-control {
  width: 100%;
  margin-bottom: 30px;  
}


.btn-close {
  position: absolute;
  top: 20px; 
  right: 20px;
}

.custom-dropdown-btn {
  background-color: rgb(66, 83, 206);
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 220px;
}

.custom-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #ddd;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  transition: all 0.2s ease;
}


.custom-dropdown-list::-webkit-scrollbar {
  width: 8px;
}


.custom-dropdown-list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}


.custom-dropdown-list::-webkit-scrollbar-thumb {
  background-color: rgb(66, 83, 206);
  border-radius: 4px;
}


.custom-dropdown-list::-webkit-scrollbar-thumb:hover {
  background-color: rgb(66, 83, 206);
}


.custom-dropdown-list li:hover {
  background-color: #f0f0f0;
}

.dropdown-item {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  width: 200px;
  margin-bottom: 4px;
}


.dropdown-item:active,
.dropdown-item:focus {
  background-color: rgb(66, 83, 206);
}


.custom-small-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 110px;
  overflow-y: auto;
  z-index: 10;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #ddd;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  transition: all 0.2s ease;
}


.custom-small-dropdown-list::-webkit-scrollbar {
  width: 8px;
}


.custom-small-dropdown-list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}


.custom-small-dropdown-list::-webkit-scrollbar-thumb {
  background-color: rgb(66, 83, 206);
  border-radius: 4px;
}


.custom-small-dropdown-list::-webkit-scrollbar-thumb:hover {
  background-color: rgb(66, 83, 206);
}


.custom-small-dropdown-list li:hover {
  background-color: #f0f0f0;
}


.modal-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px; 
}

.custom-btn {
  width: 30%; 
  background-color: rgb(66, 83, 206);
  color: white; 
  border: none; 
  border-radius: 5px; 
}

.custom-yes-btn {
  background-color: rgb(66, 83, 206);
  color: white; 
  border: none; 
  border-radius: 5px; 
  font-size: 12px; 
  line-height: 1; 
}

.custom-no-btn {
  background-color: rgb(232, 0, 0); 
  color: white; 
  border: none; 
  border-radius: 5px; 
  font-size: 12px; 
  line-height: 1; 
}

.custom-btn:active {
 background-color: white;
 color: black;
}






