<div *ngIf="dataUpdated == false || dataDeleted == false " class="d-flex justify-content-center align-items-center">
  <div class="spinner-border custom-spinner" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>


<div class="container">
  <table class="table table-hover table-light custom-table ">
    <thead>
      <tr class="align-middle">
        <th scope="col">User Id</th>
        <th scope="col">Role</th>
        <th scope="col">Email</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col"></th>
      </tr>
    </thead>    

    <tbody>
      <tr class="align-middle" *ngFor="let user of (userState.users$ | async)">
        <td class="fw-bold">{{ user.userId }}</td>

        <ng-container *ngIf="!user.isDeleted">
          <td class="custom-td">
            {{ user.operationClaimName }}
          </td>
        </ng-container>
        
        <ng-container *ngIf="user.isDeleted">
          <td class="custom-td">not assigned</td>
        </ng-container>

        <td class="custom-td text-truncate">{{ user.email }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td class="custom-td">{{ user.phoneNumber }}</td>
        <td>  
            <i class="fa fa-pencil-alt custom-icon-edit fa-lg mx-2" (click)="openUpdateModal(user.id, user.userId)"></i>
            <i class="fa fa-trash custom-icon-delete fa-lg mx-3" (click)="openDeleteModal(user.id, user.userId, user.operationClaimId)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal fade" id="userOperationClaimUpdateModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="custom-h4" >Select Role</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        
        <div class="custom-dropdown-container">
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle custom-dropdown-btn" type="button" id="genderDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                {{ getRoleName(selectedRole) }}
              </button>
              <ul class="dropdown-menu" aria-labelledby="genderDropdown">
                  <li><a class="dropdown-item"  (click)="selectRole(2)">admin</a></li>
                  <li><a class="dropdown-item"  (click)="selectRole(4)">user</a></li>
                  <li><a class="dropdown-item" (click)="selectRole(5)">customer.representative</a></li>
                  <li><a class="dropdown-item text-muted"  (click)="selectRole(0)">Clear Role</a></li> 
              </ul>
          </div>
        </div>

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary custom-btn" (click)="saveRole()" >Save Role</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="userOperationClaimDeleteModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="custom-h4" >Are you sure you want to delete the role ?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <div class="d-flex justify-content-evenly gap-4">
          <button type="button" class="btn btn-primary custom-btn" (click)="deleteRole()" >Yes</button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-primary custom-btn" >No</button>
        </div>
      </div>
      
    </div>
  </div>
</div>

  

 
