table {
    width: 100%;
    table-layout: fixed; 
}

.table tbody {
  background-color: #f8f9fa !important; 
}

th , td{
  color: black;
} 

.table td, .table th {
  background-color: #ffffff; 
}

.custom-table th{
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  padding: 16px;
  text-align: center;
  font-size: 14px;
}

.custom-table td {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  padding: 16px;
  text-align: center;
  font-size: 14px;
}

.custom-table thead th {
  background-color: rgb(123, 0, 232) !important;
  color: white;
}

.table tbody tr:hover, 
.table tbody tr:hover {
  background-color: rgba(254, 254, 254, 0.934) !important;
  transform: scale(1.05); 
  transition: transform 0.3s ease-in-out; 
}

.custom-spinner {
  border-top-color: rgb(123, 0, 232);
  border-right-color: rgb(123, 0, 232);
  border-left-color: rgb(123, 0, 232);
}
.custom-td {
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
  max-width: 200px; 
}


.custom-icon-edit {
  color: rgb(123, 0, 232);
  font-size: 16px;
}

.custom-icon-delete {
  color: #ff0c24;
  font-size: 14px;
}

.modal-content {
  padding-bottom: 20px; 
}


.modal-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px; 
}


.custom-btn {
  width: 30%; 
  background-color: rgb(123, 0, 232); 
  color: white; 
  border: none; 
  border-radius: 5px; 
}

.custom-btn:active {
 background-color: white;
 color: black;
}

.custom-h4{
  text-align: center;
  color: black;
  padding: 12px;
  font-size: 19px;
  margin-top: -10px;
}

.modal-header, .modal-footer {
  border: none;
  position: relative; /* Butonun konumunu modal-header'a göre ayarlıyoruz */
}

.btn-close {
  position: absolute;
  top: 20px; 
  right: 20px;
}


.custom-dropdown-container {
  display: flex;
  justify-content: center;  
  padding-bottom: 10px;
}

.custom-dropdown-btn {
  background-color: rgb(123, 0, 232); 
  width: 210px;
  margin-top: -20px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.dropdown-item:active, 
.dropdown-item:focus {
  background-color: rgb(123, 0, 232); 
}

th:nth-child(2), td:nth-child(2),th:nth-child(3), td:nth-child(3)  { 
  width: 190px;
  white-space: nowrap;
}

.custom-spinner {
  border-top-color: rgb(123, 0, 232);
  border-right-color: rgb(123, 0, 232);
  border-left-color: rgb(123, 0, 232);
}





