<div *ngIf="dataLoaded == false" class="d-flex justify-content-center align-items-center">
  <div class="spinner-border custom-spinner" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="container">

  <div class="custom-search-bar-container d-flex justify-content-center">
    <form class="form-inline d-flex w-50">
      <input 
        class="form-control mr-sm-2 custom-input" 
        type="search" 
        placeholder="Search" 
        aria-label="Search"  
        [(ngModel)]="searchText"
        name="search"
      >
    </form>
  </div>
    
    <table class="table table-hover table-light custom-table ">
      <thead>
        <tr class="align-middle">
          <th scope="col">Inventory Id</th>
          <th scope="col">Product Name</th>
          <th scope="col">Warehouse Name</th>
          <th scope="col">Warehouse Location</th>  
          <th scope="col">Stock Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-middle" *ngFor="let inventoryReport of filteredInventoryReports">
          <th  scope="row">{{ inventoryReport.inventoryId }}</th>
          <td>{{ inventoryReport.productName }}</td>
          <td>{{ inventoryReport.warehouseName }}</td>
          <td>{{ inventoryReport.warehouseLocation }}</td>       
          <td>{{ inventoryReport.stockQuantity }}</td>
      </tbody>
    </table>
  </div>